{% extends "ProjectMoviesBundle::layout.html.twig" %}

{% block content %}
    <h1>Genre list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Genre</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('genre_show', { 'id': entity.genre }) }}">{{ entity.genre }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('genre_show', { 'id': entity.genre }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('genre_edit', { 'id': entity.genre }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('genre_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
