{% extends "ProjectMoviesBundle::layout.html.twig" %}

{% block content %}
    <h1>Order list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Charge</th>
                <th>Expires_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('order_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.charge }}</td>
                <td>{% if entity.expiresat %}{{ entity.expiresat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('order_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('order_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('order_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
